<div class="page-header">
  <h1>Picture #<%= @picture.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Source</dt>
  <dd><img src="<%= @picture.source %>" width="480"></dd>

  <dt>Caption</dt>
  <dd><%= @picture.caption %></dd>

</dl>
